@charset "UTF-8";
/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000000;
}

h1,
h2, h5 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #f03000;
  font-size: 36px;
}

h2 {
  font-weight: 600;
}

h5 {
  font-size: 14px;
}

.main {
  padding: 20px;
}

.section__title {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.wrapper img {
  width: 100%;
}
@media screen and (min-width: 960px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
}

.header {
  text-align: center;
}
.header__logo {
  width: 235px;
  height: 30px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    padding-left: 20px;
  }
  .header--text {
    border-bottom: 2px solid #f03000;
    margin-bottom: 40px;
  }
}

.menu {
  size: 18px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
}
.menu__item {
  padding: 20px;
  text-decoration: none;
  color: #f03000;
}
.menu__item:hover, .menu__item:focus {
  background-color: #f03000;
  color: white;
}

.zajezdy {
  display: grid;
  gap: 20px;
  grid-template-rows: 240px;
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
}
@media screen and (min-width: 768px) {
  .zajezdy {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    grid-auto-rows: 180px;
  }
  .zajezdy > :first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media screen and (min-width: 960px) {
  .zajezdy {
    grid-template-columns: repeat(3, 1fr);
  }
  .zajezdy--alt > :first-child {
    grid-column: 2/span 2;
  }
  .zajezdy--text {
    grid-template-columns: 1fr;
  }
  .zajezdy--text > :first-child {
    grid-column: 1;
    grid-row: 1;
  }
}
.zajezdy--text {
  grid-template-rows: 150px;
}
.zajezdy--text .zajezd__popis {
  display: none;
}
@media screen and (min-width: 768px) {
  .zajezdy--text .zajezd__popis {
    display: block;
  }
}
@media screen and (min-width: 960px) {
  .zajezdy--text .zajezd__popis {
    display: none;
  }
}

.zajezd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.zajezd__nazev {
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.zajezd__info > :last-child {
  margin-bottom: 0;
}
.zajezd__info {
  color: white;
  padding: 20px;
  background-color: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}
.zajezd__cena {
  padding: 20px;
}
.zajezd__cena span {
  display: inline-block;
  background-color: #f03000;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.zajezd__foto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.travel-info {
  display: grid;
  grid-template-rows: 240px;
  grid-auto-rows: auto;
  gap: 20px;
  grid-auto-flow: dense;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .travel-info {
    grid-template-rows: 380px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .travel-info {
    grid-column: span 3;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
.travel-info__photo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .travel-info__photo {
    grid-column: span 2;
  }
}
@media screen and (min-width: 960px) {
  .travel-info__photo {
    grid-column: span 1;
    grid-row: span 4;
    margin-bottom: 0;
  }
}
.travel-info__phrase {
  font-size: 28px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .travel-info__phrase {
    font-size: 48px;
  }
}
.travel-info__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.travel-info__point {
  background-color: #E5E5E5;
  padding: 20px;
}
.travel-info__title {
  text-transform: uppercase;
  color: #888888;
}
.travel-info__content {
  margin: 0;
  margin-top: 6px;
}
.travel-info--price {
  background-color: #f03000;
  color: white;
}
.travel-info--price h5 {
  color: white;
}
.travel-info--price p {
  font-size: 28px;
  font-weight: 600;
}

.hotel-photos {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.hotel-photos img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hotel-photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service {
  margin-top: 40px;
  margin-bottom: 40px;
}
.service__item {
  background-color: #f0f0f0;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-bottom: 10px;
}
.service__title {
  color: #f03000;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 10px;
}
.service__description {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .service {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 20px;
    text-align: center;
  }
  .service__item {
    flex-direction: column;
    align-items: center;
  }
  .service__icon {
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 960px) {
  .service {
    grid-template-columns: repeat(4, 1fr);
  }
}

.news__item {
  background-color: #f0f0f0;
  padding: 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
.news__date {
  color: #888888;
}
.news__title {
  color: #f03000;
  margin: 10px 0 10px 0;
}
.news__content {
  margin: 0;
}
@media screen and (min-width: 960px) {
  .news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.footer {
  background-color: #444444;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}/*# sourceMappingURL=style.css.map */