/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

$c-title: #f03000;
$c-background-service: #f0f0f0;
$c-footer: #444444;
$font-title: "Montserrat", sans-serif;

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000000;
}

.main {
  padding: 20px;
}

.header {
  text-align: center;
  &__logo {
    width: 235px;
    height: 30px;
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    &__logo {
      padding-left: 20px;
    }
  }
}
.menu {
  size: 18px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
  &__item {
    padding: 20px;
    text-decoration: none;
    color: $c-title;
    &:hover, &:focus {
      background-color: $c-title;
      color: white;
    }
  }
}
.tours {
  color: white;
  display: grid;
  grid-template-rows: 240px 150px 150px;
  gap: 20px;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  &__tours__description {
    flex: 0 0 50%;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    font-family: $font-title;
  }
  &__top {
    flex: 0 0 50%;
  }
  &__price {
    font-size: 18px;
    font-weight: 400;
    font-family: $font-title;
    padding: 10px;
    background-color: $c-title;
  }
  &__palms {
    background: url(/images/palmy.png) no-repeat center/cover;
  }
  &__lake {
    background: url(/images/jezero2.png) no-repeat center/cover;
  }
  &__bike {
    background: url(/images/nakole.png) no-repeat center/cover;
  }
  &__canyon {
    background: url(/images/podkova.png) no-repeat center/cover;
  }
  &__canaria {
    background: url(/images/zatoka.png) no-repeat center/cover;
  }
  &__boat {
    background: url(/images/lodicka.png) no-repeat center/cover;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 380px 180px;

    &__item--highlighted {
      grid-column: 1 / -1;
    }
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 180px 180px;
    &__palms {
      background: url(/images/palmy@2x.png) no-repeat center/cover;
      grid-column: 1 / 3;
      grid-row: 1 / -1;
    }
    &__lake {
      background: url(/images/jezero2@2x.png) no-repeat center/cover;
      grid-column: 3 / 4;
    }
    &__bike {
      background: url(/images/nakole@2x.png) no-repeat center/cover;
    }
    &__canyon {
      background: url(/images/podkova@2x.png) no-repeat center/cover;
    }
    &__canaria {
      background: url(/images/zatoka@2x.png) no-repeat center/cover;
    }
    &__boat {
      background: url(/images/lodicka@2x.png) no-repeat center/cover;
      grid-column: 2 / 4;
      grid-row: 1 / -1;
    }
  }
}

.service {
  margin-top: 40px;
  margin-bottom: 40px;

  &__item {
    background-color: $c-background-service;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 10px;
  }
  &__title {
    color: $c-title;
    font-size: 18px;
    font-family: $font-title;
    margin: 0;
    margin-bottom: 10px;
  }
  &__icon {
    align-items: flex-start;
    margin-right: 20px;
  }
  &__description {
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
    display: grid;
    gap: 20px;
    text-align: center;

    &__item {
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      margin: 0 0 20px 0;
    }
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(4, 25%);
  }
}

.section__title {
  color: #000000;
  font-family: $font-title;
  font-weight: 600;
}

.news {
  &__item {
    background-color: $c-background-service;
    padding: 20px;
    font-size: 16px;
    font-family: $font-title;
    margin-bottom: 20px;
  }
  &__date {
    color: #888888;
  }
  &__title {
    color: $c-title;
    margin: 10px 0 10px 0;
  }
  &__content {
    margin: 0;
  }

  @media screen and (min-width: 960px) {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
.footer {
  background-color: $c-footer;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
